<html>
    <head>
     <style type="text/css">
      h1 {
       padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
       color: #494949;/*文字色*/
       background: #f4f4f4;/*背景色*/
       border-left: solid 5px #7db4e6;/*左線*/
       border-bottom: solid 3px #d7d7d7;/*下線*/
        }
      p { font-family: sans-serif;}
        h3 {font-family: sans-serif;
            border-bottom: solid 2px black;}
        </style>
       <title>栗ごはん</title>
    </head>
    <body>
     <div>
      <h1>栗ごはん</h1>
      <img src = "gohan.png" width="200px" height="150px" border="0" align="left">
　　　</div>
     <div>
      <font size="3">調理時間:</font><font size="3" color="red">60分<br></font> <font size="3">工程数:</font><font size="3" color="red">6</font> <br><font size="3">食材数:</font><font size="3" color="red">8</font> <br><font size="3">動作数:</font><font size="3" color="red">17</font><br /><br />
      <h3>材料</h3>
      <p>米　2合</P>
      <p>栗・皮つき　200g</P>
      <p>みりん　大さじ1</P>
      <p>酒　大さじ1</p>
      <p>「ほんだし」　小さじ2</P>
      <p>「瀬戸のほんじお」　小さじ1</p>
      <p>水　適量</P>
      <p>いり黒ごま　適量</p>
      <h3>作り方</h3>
      <p>1:米は洗ってザルに上げ、２０分ほどおいて水気をきる。</p>
      <p>2:栗はたっぷりのぬるま湯（３５～３６℃）に１０分以上浸し、鬼皮（外側のかたい皮）をやわらかくする。</p>
      <p>3:栗の底の部分を包丁で切り落とす直前まで切り込みを入れ、底から先端に向かってはぐようにして鬼皮をむく。</p>
      <p>4:残った渋皮（内側のやわらかい皮）をむき、半分に切り、１０分ほど水に浸す。</p>
      <p>5:炊飯器に（１）の米を入れ、Ａを加え、２合の目盛りまで水を注ぎ、ひと混ぜする。（４）の栗をのせて炊く（時間外）。</p>
      <p>6:炊き上がったら全体を混ぜ、器に盛り、黒ごまを散らす。</p>
      <h3>栄養素</h3>
      <img src = "図1.png" width="200px" height="200px" border="0" align="center">
     </div>
    </body>
</html>
